html, body {
    height: 100%;
}

body {
    display: grid;
    place-items: center;
}

.card__content {
    position: relative;
    width: 200px;
    height: 200px;
    transform-style: preserve-3d;
    transition: 600ms ease-in-out;
}

.card_content--flipped {
    transform: rotateY(180deg);
}

.card__face {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    font-size: 8rem;
}

.card__face--front {
    background: var(--color-primary);
    color: var(--text-light);
}

.card__face--back {
    background: var(--color-secondary);
    color: var(--text-dark);
    transform: rotateY(180deg);
}