.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 4px;
}

.text {
  padding: 2rem 0;
  color: var(--text-light);
}

.reset__button {
  outline: 0;
  border: 1px solid var(--text-dark);
  padding: 1rem 2rem;
  margin: 3rem auto;
  width: 100%;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.8rem;
  background: #c6ffdd;
  background: -webkit-linear-gradient(to right, #f7797d, #fbd786, #c6ffdd);
  background: linear-gradient(to right, #f7797d, #fbd786, #c6ffdd);
  cursor: pointer;
  transition: letter-spacing 150ms ease-in-out;
}

.reset__button:hover {
  letter-spacing: 0.2rem;
}
